<div class="container mt-3">
  <h1 class=" bg-light ml-3">All Users</h1>
    <table class="table table-striped table-bordered table-hover ml-3">
      <thead class="thead-light">
        <tr>
          <th>Username</th>
          <th>Name</th>
        </tr>
      </thead>
        </tbody>
          <%= render "all_users"%>
        </tbody>
    </table>
  <br>
  <% if current_user %>
    <%= link_to 'All Events', '/events', class: "btn text-light bg-info ml-3" %>
  <% end %>
</div>
